<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appofy.android.pixshare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AlbumGridActivity"
            android:label="@string/title_activity_album_grid" >
        </activity>
        <activity
            android:name=".SharedAlbumGridView"
            android:label="@string/title_activity_shared_album_grid_view" >
        </activity>
        <activity
            android:name=".AlbumFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_album_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".AddNewAlbumActivity"
            android:label="@string/title_activity_add_new_album" >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ManageFriendsGroupsActivity"
            android:label="ManageFriendGroupActivity" >
        </activity>

        <activity
            android:name=".FriendProfileActivity"
            android:label="FriendProfileActivity" >
        </activity>
        <activity
            android:name=".InviteFriendsActivity"
            android:label="@string/title_activity_invite_friends" >
        </activity>
        <activity
            android:name=".AddGroupActivity"
            android:label="@string/title_activity_add_group" >
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
    </application>

</manifest>
